# Before you start :
   - These exercises are related to the Subsetting and Descriptive Stats lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [1]:
# import libraries here

# Challenge 1

#### In this challenge we will use the `Temp_States.csv` file. 

#### First import it into a data frame called `temp`.

In [2]:
import numpy as np
import pandas as pd

#### Print `temp`

In [ ]:
temp= pd.read_csv('Temp_States.csv')
temp.head()

#### Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.

In [7]:
temp.dtypes
# temperature at some point for 7 cities on the US north east coast

#### Select the rows where state is New York

In [3]:
temp[(temp['State']=='New York')]

#### What is the average of the temperature of cities in New York?

In [4]:
sum (temp['Temperature'][(temp['State']=='New York')]) / len(temp['Temperature'][(temp['State']=='New York')])

#### We want to know cities and states with Temperature above 15 degress Celcius

In [5]:
temp[(temp.Temperature>15)]

#### Now, return only the cities that have a temperature above 15 degress Celcius

In [8]:
temp[(temp.Temperature>15)]['City']

#### We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius

*Hint: First write the condition then select the rows.*

In [9]:
temp[(temp.Temperature>15)&(temp.Temperature<20)]['City']

#### Find the mean and the standard deviation of the temperature of each state.

*Hint: Use functions from Data Manipulation lesson*

In [10]:
temp.groupby('State').Temperature.std()
temp.groupby('State').Temperature.mean()

# Challenge 2

#### Load the `employee.csv` file into a DataFrame. Call the dataframe `employee`

In [11]:
employee = pd.read_csv('Employee.csv')

#### Explore the data types of the Temp dataframe. Comment your results

In [12]:
employee.dtypes

#5 object columns and 2 int columns

#### Show visually the frequency distribution (histogram) of the employee dataset. In few words describe these histograms?

In [13]:
employee.hist()
# people are quite evenly spread on the wage ladder, but most people
#studied 4 years or less

#### What's the average salary in this company?

In [14]:
sum(employee['Salary'])/len(employee['Salary'])

#### What's the highest salary?

In [33]:
employee['Salary'].max()

#### What's the lowest salary?

In [15]:
employee['Salary'].min()

#### Who are the employees with the lowest salary?

In [16]:
employee[employee.Salary==employee.Salary.min()]['Name']

#### Could you give all the information about an employee called David?

In [17]:
employee[(employee['Name']=='David')]

#### Could you give only David's salary?

In [18]:
pd.DataFrame(employee[(employee['Name']=='David')].Salary)

#### Print all the rows where job title is associate

In [19]:
employee[(employee['Title']=='associate')]

#### Print the first 3 rows of your dataframe

##### Tip : There are 2 ways to do it. Do it both ways

In [20]:
employee[0:3]

In [21]:
employee.iloc[0:3]
#pd.DataFrame(employee.iloc[0:3, 2])

#### Find the employees who's title is associate and the salary above 55?

In [22]:
employee[(employee.Title=='associate')&(employee.Salary>55)]

#### Group the employees based on their number of years of employment. What are the average salaries in each group?

In [25]:
pd.DataFrame(employee.groupby('Years').Salary.mean())

####  What is the average Salary per title?

In [23]:
pd.DataFrame(employee.groupby('Title').Salary.mean())

#### Show a visual summary of the data using boxplot. What Are the First and Third Quartiles? Comment your results.
##### * Hint : Quantiles vs Quartiles*
##### - `In Probability and Statistics, quantiles are cut points dividing the range of a probability distribution into continuous intervals with equal probabilities. When division is into four parts the values of the variate corresponding to 25%, 50% and 75% of the total distribution are called quartiles.`

In [26]:
employee.boxplot()

In [27]:
employee.quantile(0.25)

In [28]:
employee.quantile(0.75)

#### Is the mean salary per gender different?

In [29]:
pd.DataFrame(employee.groupby('Gender').Salary.mean())

#### Find the minimum, mean and the maximum of all numeric columns for each Department.

##### Hint: Use functions from Data Manipulation lesson

In [30]:
pd.DataFrame(employee.groupby('Department').mean())
#pd.DataFrame(employee.groupby('Department').Year.mean())

### Bonus Question

#### For each department, compute the difference between the maximal salary and the minimal salary.

##### * Hint: try using `agg` or `apply` and `lambda`*

In [32]:
difference =lambda a,b: a-b
difference(employee.Salary.max(),employee.Salary.min())

# Challenge 3

#### Open the Orders.csv dataset. Name your dataset orders

In [ ]:
orders = pd.read_csv('Orders.csv')
orders.dtypes

#### Explore your dataset by looking at the data types and the summary statistics. Comment your results

In [ ]:
# your answer here

In [ ]:
'''
Unnamed: 0        int64
InvoiceNo         int64
StockCode        object
year              int64
month             int64
day               int64
hour              int64
Description      object
Quantity          int64
InvoiceDate      object
UnitPrice       float64
CustomerID      float64
Country          object
amount_spent    float64
dtype: object'''

# float indicates numbers with decimals maybe

####  What is the average Purchase Price?

In [ ]:
round(sum(orders.amount_spent)/(len(orders.amount_spent)),2)

#### What were the highest and lowest purchase prices?

In [ ]:
orders.amount_spent.max()

In [ ]:
orders.amount_spent.min()

#### Select all the customers we have in Spain

In [ ]:
orders[(orders['Country']=='Spain')]

#### How many customers do we have in Spain?
##### Hint : Use value_counts()

In [ ]:
spain = (orders[(orders['Country']=='Spain')])
spain['Country'].value_counts()

#### Select all the customers who have bought more than 50 items ?

In [ ]:
(orders[(orders['Quantity']>50)])

#### Select orders from Spain that are above 50 items

In [ ]:
(orders[(orders['Quantity']>50)&(orders['Country']=='Spain')])

#### Select all free orders

In [ ]:
(orders[(orders['amount_spent']==0)])
orders = orders.rename(columns={'amount_spent': 'PurchasePrice'})
orders.head()

#### Select all orders that are 'lunch bag'
#### Hint: Use string functions

In [ ]:
orders[orders.Description.str.contains('lunch bag')]

#### Select all orders that are made in 2011 and are 'lunch bag'

In [ ]:
orders[(orders['Year']==2011)&(orders[orders.Description.str.contains('lunch bag')])]

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
orders[orders['Country']=='Spain']['amount_spent'].hist()

#x axis amount spent, y axis number of people

#### Select all orders made in the month of August

In [ ]:
orders[orders['month']==8]

#### Select how many orders are made by countries in the month of August
##### Hint: Use value_counts()

In [ ]:
orders[orders['month']==8].Country.value_counts()

#### What's the  average amount of money spent by country

In [ ]:
orders.groupby('Country')['amount_spent'].mean()

#### What's the most expensive item?

In [ ]:
orders.UnitPrice.max()

#### What was the average amount spent per year ?

In [ ]:
orders.groupby('year')['amount_spent'].mean()